* {
	font-family: 'Calibri';
}

h1 {
	font-size: 60px ;
}

h2 {
	text-transform: uppercase ;
}

}
.languages{
	background-color: #4dc478;
}

.tools {
	border: 2px solid lightsteelblue;
}

section img {
	height: 80px;
	width: 80px;
	border-radius: 40px;
}

ul ~ p {
	text-align:center;
}

ul > li {
	letter-spacing: 7px;
}